{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What'sNext London</title>
	<link rel="stylesheet" href="{% static 'whatsnext/css/main.css' %}">
	<script src="{% static 'whatsnext/js/consts.js' %}" type="text/javascript"></script>
	<script src="{% static 'whatsnext/js/globals.js' %}" type="text/javascript"></script>
</head>
</head>
<body>
<div id="main">
	<h1>What'sNext London</h1>
	<div id="hotel">
		<span id="start-hotel"><label class="starter">Start at a Event</label></span>
		<span id="search-hotel">
			<input type="text" value="Event Name">
			<input type="datetime" value="14/12/2016 12:25">
			<select>
				<option>Manhattan</option>
				<option>-SoHo</option>
				<option>-Greenwich Village</option>
				<option>-NoHo</option>
				<option>-Tribeca</option>
				<option>Brooklyn</option>
				<option>-Wiliamsburg</option>
			</select>
			<input type="submit" value="search"></span>
	</div>
	<div id="restaurant">
		<span id="start-restaruant"><label class="starter">Start at a Restaurant</label></span>
		<span id="search-restaurant">
			<input type="text" value="Restaurant Name">
			<input type="datetime" value="14/12/2016 12:25">
			<select>
				<option>Manhattan</option>
				<option>-SoHo</option>
				<option>-Greenwich Village</option>
				<option>-NoHo</option>
				<option>-Tribeca</option>
				<option>Brooklyn</option>
				<option>-Wiliamsburg</option>
			</select>
			<input type="submit" value="search">
		</span>
	</div>
    <div id="map"></div>
	<table class="options">
	<tr class="option">
		<td class="name">Taboon</td>
		<td class="type">Meditreanean</td>
		<td class="rating">7.6</td>
		<td class="location">Hell's Kitchen</td>
		<td class="choose"><b>&gt;&gt;</b></td>
	</tr>
	</table>
	</div>
	<script>

    </script>
    <script src="{% static 'whatsnext/js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'whatsnext/js/map_utils.js' %}" type="text/javascript"></script>
	<script src="{% static 'whatsnext/js/html_utils.js' %}" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoWjLmus3tD8KBTbgDdwadQmWZHldu0P4&callback=initMap" type="text/javascript"></script>
</body>
</html>
