{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What'sNext London</title>
	<link rel="stylesheet" href="{% static 'whatsnext/css/main.css' %}">
	<script src="{% static 'whatsnext/js/consts.js' %}" type="text/javascript"></script>
	<script src="{% static 'whatsnext/js/globals.js' %}" type="text/javascript"></script>
	{% csrf_token %}
</head>
</head>
<body>
    <div id="map"></div>
	<div id="myNav" class="overlay">
		<div class="overlay-content">
			<span id="overlayTitle">
				What's Next?!
			</span><br><br>
			<select id="overlay-search-category">
				<option value="NULL">Start with...</option>
				{% for cat in categories %}
				<option value="{{ cat }}">{{ cat }}</option>
				{% endfor %}
			</select>
			&nbsp;
			<input type="text" id="overlay-place-name" size="12" placeholder="Location name"><br><br>
			OR
			<a href="javascript:void(0)" class="closebtn" onclick="markForSearch()">Mark Your Location On The Map</a>
		</div>

	</div>
    <div class="nav">
        <div id ="search-div">
			<select id="search-category">
				<option value="default">Start with...</option>
				{% for cat in categories %}
				<option value="{{ cat }}">{{ cat }}</option>
				{% endfor %}
			</select>&nbsp;
			<input type="text" id="place-name" size="12" placeholder="Location name">
		</div>
        <div id="place-div">
			<div onclick="showResults()"><< Back to Results</div>
			<table>
				<tr><td rowspan="3"><img src="" id="current-icon"></td><td id="current-name"></td></tr>
				<tr><td id="current-address"></td></tr>
				<tr><td id="current-id"></td></tr>
				<tr><td id="current-reviews" colspan="2"></td></tr>
				<tr><td id="current-statistics" colspan="2"><table id="statistics"></table></td></tr>
			</table>
		</div>
        <div id="results-div">
			<table id="results"></table>
		</div>
    </div>
	<script>var iconFolderPath = "{% static 'whatsnext/images/Markers/' %}";</script>
    <script src="{% static 'whatsnext/js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'whatsnext/js/jquery.cookie.js' %}" type="text/javascript"></script>
	<script src="{% static 'whatsnext/js/map_utils.js' %}" type="text/javascript"></script>
	<script src="{% static 'whatsnext/js/html_utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'whatsnext/js/server.js' %}" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoWjLmus3tD8KBTbgDdwadQmWZHldu0P4&callback=initMap" type="text/javascript"></script>
</html>

